<!-- 首页 -->
<title>首页</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a>首页</a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md3 layui-col-sm6">
      <div class="layui-card">
        <div class="layui-card-header">
          访问量
          <span class="layui-badge layui-bg-blue layuiadmin-badge">周</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p class="layuiadmin-big-font">9,999,666</p>
          <p>
            总计访问量
            <span class="layuiadmin-span-color">
              88万
              <i class="layui-icon">&#xe66c;</i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          下载
          <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p class="layuiadmin-big-font">33,555</p>
          <p>
            新下载
            <span class="layuiadmin-span-color">
              10%
              <i class="layui-icon">&#xe650;</i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          收入
          <span class="layui-badge layui-bg-green layuiadmin-badge">年</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p class="layuiadmin-big-font">999,666</p>
          <p>
            总收入
            <span class="layuiadmin-span-color">
              ***
              <i class="layui-icon">&#xe659;</i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="layui-col-sm6 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-header">
          活跃用户
          <span class="layui-badge layui-bg-orange layuiadmin-badge">月</span>
        </div>
        <div class="layui-card-body layuiadmin-card-list">
          <p class="layuiadmin-big-font">66,666</p>
          <p>
            最近一个月
            <span class="layuiadmin-span-color">
              15%
              <i class="layui-icon">&#xe770;</i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="layui-col-sm12">
      <div class="layui-card">
        <div class="layui-card-header">访问量</div>
        <div class="layui-card-body">
          <div class="layui-row">
            <div class="layui-col-sm8">
              <!-- 此处用了轮播组件来作为容器 -->
              <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="lay-filter-index">
                <div carousel-item id="carousel-index-item">
                  <div><i class="layui-icon layui-icon-loading-1 layadmin-loading"></i></div>
                </div>
              </div>
            </div>
            <div class="layui-col-sm4">
              <div class="layuiadmin-card-list">
                <p class="layuiadmin-normal-font">月访问数</p>
                <span>同上期增长</span>
                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                  <div class="layui-progress-bar" lay-percent="30%"></div>
                </div>
              </div>
              <div class="layuiadmin-card-list">
                <p class="layuiadmin-normal-font">月下载数</p>
                <span>同上期增长</span>
                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                  <div class="layui-progress-bar" lay-percent="20%"></div>
                </div>
              </div>
              <div class="layuiadmin-card-list">
                <p class="layuiadmin-normal-font">月收入</p>
                <span>同上期增长</span>
                <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                  <div class="layui-progress-bar" lay-percent="25%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //加载 controller 目录下的对应模块
  /*
  
    小贴士：
      这里 console 模块对应 的 console.js 并不会重复加载，
      然而该页面的视图则是重新插入到容器，那如何保证能重新来控制视图？有两种方式：
        1): 借助 layui.factory 方法获取 console 模块的工厂（回调函数）给 layui.use
        2): 直接在 layui.use 方法的回调中书写业务代码，即:
            layui.use('console', function(){ 
              //同 console.js 中的 layui.define 回调中的代码 
            });
            
    这里我们采用的是方式1。其它很多视图中采用的其实都是方式2，因为更简单些，也减少了一个请求数。
    
  */
  layui.use('console', layui.factory('console'))
</script>
