<div class="layui-layout layui-layout-admin">
  <!-- 头部区域 -->
  <div class="layui-header">
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item" lay-unselect><a href="">教育管理</a></li>
      <li class="layui-nav-item" lay-unselect><a href="">微分享管理</a></li>
      <li class="layui-nav-item" lay-unselect><a href="">财富管理</a></li>
      <li class="layui-nav-item" lay-unselect><a href="">运营管理</a></li>
      <li class="layui-nav-item" lay-unselect><a href="">用户管理</a></li>
      <li class="layui-nav-item" lay-unselect><a href="">系统管理</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right" lay-filter="lay-filter-header-right">
      <li class="layui-nav-item" lay-unselect>
        <script type="text/html" template lay-url="./json/user/session.js" lay-done="layui.data.header(d)">
          <a href="javascript:;">
            <img src="{{d.data.portrait}}" class="layui-nav-img" />
            <cite>{{ d.data.username }}</cite>
          </a>
          <dl class="layui-nav-child">
            <dd><a lay-href="set/user/info">基本资料</a></dd>
            <dd><a lay-href="set/user/password">修改密码</a></dd>
            <hr>
            <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
          </dl>
        </script>
      </li>
      <!-- 小屏幕显示更多 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-show-sm" lay-unselect>
        <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
      </li>
    </ul>
  </div>

  <!-- 侧边菜单 -->
  <div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
      <!-- 动态模板 -->
      <script type="text/html" template lay-url="./json/menu.json?v={{ layui.admin.v }}" lay-done="layui.data.nav(d)" id="TPL_layout">
        <div class="layui-logo">{{ layui.setter.name || 'layuiAdmin' }}</div>
        <!-- 左侧列表 -->
        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="side-list" lay-filter="lay-filter-side-list">
          {{#
            var path =  layui.router().path,
              pathURL = layui.admin.correctRouter(path.join('/')),
              dataName = layui.setter.response.dataName;

            layui.each( d[dataName], function( index, item ){
              var hasChildren = typeof item.list === 'object' && item.list.length > 0,
                classSelected = function() {
                  var match = path[0] == item.name || (index == 0 && !path[0]) || (item.jump && pathURL == layui.admin.correctRouter(item.jump)) || item.spread;
                  if( match ){
                    return hasChildren ? 'layui-nav-itemed' : 'layui-this';
                  }
                  return '';
                },
                url = (item.jump && typeof item.jump === 'string') ? item.jump : item.name;
          }}
          <li data-name="{{ item.name || '' }}" data-jump="{{ item.jump || '' }}" class="layui-nav-item {{ classSelected() }}">
            <a href="javascript:;" {{ hasChildren ? '' : 'lay-href="'+ url +'"' }} lay-tips="{{ item.title }}" lay-direction="2">
              <i class="layui-icon {{ item.icon }}"></i>
              <cite>{{ item.title }}</cite>
            </a>
            {{# if(hasChildren){ }}
            <dl class="layui-nav-child">
            {{# layui.each( item.list, function( index2, item2 ){
              var hasChildren2 = typeof item2.list == 'object' && item2.list.length > 0,
                classSelected2 = function(){
                  var match = (path[0] == item.name && path[1] == item2.name)
                  || (item2.jump && pathURL == layui.admin.correctRouter(item2.jump)) || item2.spread;
                  if(match){
                    return hasChildren2 ? 'layui-nav-itemed' : 'layui-this';
                  }
                  return '';
                },
                url2 = (item2.jump && typeof item2.jump === 'string') ? item2.jump : [item.name, item2.name, ''].join('/');
            }}
              <dd data-name="{{ item2.name || '' }}"  data-jump="{{ item2.jump || '' }}" {{ classSelected2() ? ('class="'+ classSelected2() +'"') : '' }}>
                <a href="javascript:;" {{ hasChildren2 ? '' : 'lay-href="'+ url2 +'"' }}>{{ item2.title }}</a>
                {{# if(hasChildren2){ }}
                  <dl class="layui-nav-child">
                    {{# layui.each( item2.list, function( index3, item3 ) {
                      var match = (path[0] == item.name && path[1] == item2.name && path[2] == item3.name)
                      || (item3.jump && pathURL == layui.admin.correctRouter(item3.jump)),
                        url3 = (item3.jump && typeof item3.jump === 'string') ? item3.jump : [item.name, item2.name, item3.name].join('/')
                    }}
                    <dd data-name="{{ item3.name || '' }}"  data-jump="{{ item3.jump || '' }}"
                      {{ match ? 'class="layui-this"' : '' }}>
                      <a href="javascript:;" lay-href="{{ url3 }}" {{ item3.iframe ? 'lay-iframe="true"' : '' }}>{{ item3.title }}</a>
                    </dd>
                      {{# }); }}
                  </dl>
                {{# } }}
              </dd>
              {{# }); }}
            </dl>
            {{# } }}
          </li>
          {{# }); }}
        </ul>
      </script>
    </div>
  </div>

  <!-- 主体内容 -->
  <div class="layui-body" id="LAY_app_body">
    <!-- 主体容器 -->
    <div class="layadmin-tabsbody-item layui-show"></div>
  </div>

  <!-- 辅助元素，一般用于移动设备下遮罩 -->
  <div class="layadmin-body-shade" layadmin-event="shade"></div>
</div>

<script>
  layui.data.nav = function (data) {
    layui.use('element', function () {
      var element = layui.element
      element.render('nav', 'lay-filter-side-list')
    })
  }

  layui.data.header = function (data) {
    layui.use('element', function () {
      var element = layui.element
      element.render('nav', 'lay-filter-header-right')
    })
  }
</script>
